<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="直播在线教学"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddCourse"></activity>
        <activity android:name=".OnAirOpen" />
        <activity android:name=".OnAirAccess" />
        <activity
            android:name=".DMTest"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity android:name=".courseDetail" />
        <activity android:name=".course" />
        <activity android:name=".uploadTest" />
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".onlineVideo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".VideoPlayer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_video_player"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".zhuce" />
        <activity android:name=".main" />
        <activity android:name=".addnote" />
        <activity android:name=".mineinfo" />
        <activity android:name=".examing" />
        <activity android:name=".note" />
        <activity android:name=".fenxi" />
        <activity android:name=".luntan" />
        <activity android:name=".tiezi" />
        <activity android:name=".changemima" />
        <activity android:name=".fatie" />
        <activity android:name=".onenote" />
        <activity android:name=".TeacherScoreActivity" />
        <activity android:name=".TeacherMainActivity" />
        <activity android:name=".TeacherQuestionActivity" />
        <activity android:name=".ForumMainActivity" />
        <activity android:name=".ScoreManageActivity" />
        <activity android:name=".PostShowActivity" />
        <activity android:name=".NewPostActivity" />
    </application>

</manifest>